.c-post {
  &__title {
    font-size: 1.8rem;
  }
  &__footer {
    height: auto !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__meta {
    padding: .5rem 0;
  }
  &__share {
    width: 8rem;
  }
  &__date {
    color: $mid-grey;
  }
  &__comments {
    color: $brand-color;
  }
  &__meta {
    font-size: 1.2rem;
  }
}


