.c-post {
  &__title {
    font-size: 1.2rem;
    font-weight: 300;
  }
  &__footer {
    height: auto !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
  &__meta {
    padding: .5rem 0;
  }
  &__icon {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: $mid-grey;
  }
  &__comments {
    color: $brand-color;
  }
  &__meta {
    font-size: 1.2rem;
  }
}
