.c-post {
  width: 100%;
  @media screen and (min-width: 576px) {
    width: 45%;
  }
  &-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.6rem;
    word-wrap: break-word;
  }
  &__footer {
    height: auto !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__meta {
    padding: .5rem 0;
  }
  &__share {
    width: 8rem;
    @media screen and (min-width: 576px) {
      width: 12rem;
    }
  }
  &__date {
    color: $mid-grey;
  }
  &__comments {
    color: $brand-color;
  }
  &__meta {
    font-size: 1.2rem;
  }
}
