// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.l-header {
    height: 90vh;
    &__body {
        padding-top: 9rem;
    }
    &__heading {
        text-transform: uppercase;
        font-size: 2.2rem;
        text-align: center;
        font-weight: 700;
    }
    &__description {
        text-align: center;
        color:$mid-grey;
        word-wrap: break-word;
        width:70%;
        margin: 0 auto;
        font-size: 1rem;
        font-style: italic;
    }
    &__share {
        margin: 0 auto;
        width: 14rem;
    }
}